html, body {
  color: white;
  background: url('../img/background.webp') center center / cover no-repeat fixed;
  background-color: black;
  background-size: cover; 
  height: 100vh; 
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

p {
  font-size: 13px;
}

a:link {
  text-decoration: none;
  color: white;
}

.cor-estilo {
  border: none;
  color: #FC4C1E;
  background-color: #FC4C1E;
  height: 4px;
}

.logo-rede-social {
  margin: 5px !important;
  width: 60px;
}

.container-logo {
  padding: 28px;
}

.container-slogan {
  padding: 28px;
  height: auto;
}

#pre-rodape {
  /* background-image: url('../img/brasao-textura.png'); */
  /* background-repeat: repeat; */
  /* background-blend-mode: saturation; */
  padding: 0 100px;
  padding-top: 88px;
  margin-top: -172px;
  height: auto;
}

#rodape {
  background-color: #FC4C1E;
}

@media (max-width: 568px) {
  html, body {
    background: url('../img/background-recorte.webp') center center / cover no-repeat fixed;
    background-color: black;
  }
  
  #pre-rodape {
    margin-top: -86px;
    padding: 0 10px;
  }
}